@reference "tailwindcss";

.footer {
    @apply py-2 px-3 flex flex-col gap-2 justify-center items-center w-full border-t border-t-blue-300  font-light text-center
}

.author svg {
    @apply inline text-red-600 mx-1 relative
}

.author a, .copyright a {
    @apply transition-all
}

.author a:hover, .copyright a:hover {
    @apply text-sky-500 rotate-45
}