@reference 'tailwindcss';

.section-head {
    @apply text-4xl capitalize mb-3
}

.header-toolbox {
    @apply flex justify-between items-center mb-8
}

.search-input {
    @apply w-fit
}

.view-controllers {
    @apply flex gap-2
}

.view-btn-controller {
    @apply hover:bg-sky-400
}

.view-btn-controller.active {
    @apply bg-sky-500
}

.pagination {
    @apply mt-12 -mb-6
}